# Dev Requirements
-r requirements.txt

bandit[toml]==1.7.5
black==23.3.0
codespell==2.2.4
flake8==6.0.0
flake8-docstrings==1.7.0
isort==5.12.0
pre-commit==3.3.2
pre-commit-hooks==4.4.0
pydocstyle==6.3.0
pylint==2.17.4
rstcheck==6.1.2
sqlfluff==2.1.0
